# 00: Practice problems from Wooldridge chapter 2

## 00. Code to load and install the necessary libraries

In [1]:
! pip install wooldridge

Collecting wooldridge
  Downloading wooldridge-0.4.5-py3-none-any.whl (5.1 MB)
     ---------------------------------------- 5.1/5.1 MB 2.4 MB/s eta 0:00:00
Requirement already satisfied: pandas in c:\users\adityatheemp\anaconda3\lib\site-packages (from wooldridge) (2.2.3)
Requirement already satisfied: tzdata>=2022.7 in c:\users\adityatheemp\anaconda3\lib\site-packages (from pandas->wooldridge) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\adityatheemp\anaconda3\lib\site-packages (from pandas->wooldridge) (2.8.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\adityatheemp\anaconda3\lib\site-packages (from pandas->wooldridge) (1.24.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\adityatheemp\anaconda3\lib\site-packages (from pandas->wooldridge) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\adityatheemp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->wooldridge) (1.16.0)
Installing collected packages: wooldridge
Successfully installed wooldridge-0.4.5

In [1]:
import wooldridge as wd  
import pandas as pd  
import numpy as np  
import statsmodels.api as sm  
import statsmodels.formula.api as smf  
import matplotlib.pyplot as plt

## 01. Loading the datasets and running the regressions and interpreting them

### C1

In [2]:
df = wd.data('401k')
print(df.head)

<bound method NDFrame.head of            prate  mrate  totpart  totelg  age  totemp  sole   ltotemp
0      26.100000   0.21   1653.0  6322.0    8  8709.0     0  9.072112
1     100.000000   1.42    262.0   262.0    6   315.0     1  5.752573
2      97.599998   0.91    166.0   170.0   10   275.0     1  5.616771
3     100.000000   0.42    257.0   257.0    7   500.0     0  6.214608
4      82.500000   0.53    591.0   716.0   28   933.0     1  6.838405
...          ...    ...      ...     ...  ...     ...   ...       ...
1529   85.099998   0.33    553.0   650.0   24   907.0     0  6.810143
1530  100.000000   2.52    142.0   142.0   17   197.0     1  5.283204
1531  100.000000   2.27   1928.0  1928.0   35  2171.0     0  7.682943
1532  100.000000   0.58    166.0   166.0    8   931.0     1  6.836259
1533  100.000000   0.45   2179.0  2179.0   24  3187.0     0  8.066835

[1534 rows x 8 columns]>

Q1. Find the average participation rate and the average match rate in the sample of
plans.

In [ ]:
df['prate'].mean()
df['mrate'].mean()

87.3629074562948

Q2. Estimate the sample regression equation:
$$
\hat{prate} = \hat{\beta}_0 + \hat{\beta}_1 \cdot mrate
$$

In [6]:
model = smf.ols('prate ~ mrate', data = df).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  prate   R-squared:                       0.075
Model:                            OLS   Adj. R-squared:                  0.074
Method:                 Least Squares   F-statistic:                     123.7
Date:                Mon, 17 Feb 2025   Prob (F-statistic):           1.10e-27
Time:                        17:10:03   Log-Likelihood:                -6437.0
No. Observations:                1534   AIC:                         1.288e+04
Df Residuals:                    1532   BIC:                         1.289e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     83.0755      0.563    147.484      0.000      81.971      84.180
mrate          5.8611      0.527     11.121      0.000       4.827       6.895
==============================================================================
Omnibus:                      394.767   Durbin-Watson:                   1.908
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              870.172
Skew:                          -1.444   Prob(JB):                    1.11e-189
Kurtosis:                       5.296   Cond. No.                         2.32
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

The equation then becomes $ \hat{prate} = 83.07 + 5.86 mrate + \epsilon $

Q3. Interpret the intercept in your equation

Basically, when the mrate is set to 0, the participation rate is 83.7

Q4. Find the predicted prate when mrate = 3.5.

- When mrate is 3.5, the prate is approximately 103.58. This is impossible, though, since we can have a participation rate of 100% at most.

Q5. How much of the variation in prate is explained by mrate? Is this a lot in your
opinion?
- It explains about 7.5% of the variation, which is not a lot. This shows that there are other actors that affect the dependent variable.

### C2

In [3]:
df = wd.data('ceosal2')
df

,salary,age,college,grad,comten,ceoten,sales,profits,mktval,lsalary,lsales,lmktval,comtensq,ceotensq,profmarg
0,1161,49,1,1,9,2,6200.0,966,23200.0,7.057037,8.732305,10.051908,81,4,15.580646
1,600,43,1,1,10,10,283.0,48,1100.0,6.396930,5.645447,7.003066,100,100,16.961130
2,379,51,1,1,9,3,169.0,40,1100.0,5.937536,5.129899,7.003066,81,9,23.668638
3,651,55,1,0,22,22,1100.0,-54,1000.0,6.478509,7.003066,6.907755,484,484,-4.909091
4,497,44,1,1,8,6,351.0,28,387.0,6.208590,5.860786,5.958425,64,36,7.977208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,264,63,1,0,42,3,334.0,43,480.0,5.575949,5.811141,6.173786,1764,9,12.874251
173,185,58,1,0,39,1,766.0,49,560.0,5.220356,6.641182,6.327937,1521,1,6.396867
174,387,71,1,1,32,13,432.0,28,477.0,5.958425,6.068426,6.167517,1024,169,6.481482
175,2220,63,1,1,18,18,277.0,-80,540.0,7.705263,5.624018,6.291569,324,324,-28.880867
176,445,69,1,0,23,0,249.0,31,828.0,6.098074,5.517453,6.719013,529,0,12.449800

Q1. Find the average salary and the average tenure in the sample.

In [5]:
df[['salary', 'ceoten']].mean()

salary    865.864407
ceoten      7.954802
dtype: float64

Q2. How many CEOs are in their first year as CEO (that is, ceoten 5 0)? What is the
longest tenure as a CEO?

In [7]:
(df['ceoten'] == 0).sum()

5

Q3. Estimate the simple regression model 
$$
\log(\text{salary}) = \beta_0 + \beta_1 \cdot \text{ceoten} + u
$$
and report your results in the usual form. What is the (approximate) predicted per-
centage increase in salary given one more year as a CEO?

In [ ]:
model = smf.ols('', data = df).fit()